body {
  font-family: Montserrat;
}

h1 {
  font-family: Montserrat;
  font-weight: bold;
  color: white;
  font-size: 3em;
}

h2 {
  font-size: 3em;
  font-family: Montserrat;
  font-weight: bold;

}

.title {
  font-size: 5em;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15%;
}



.ms-auto {

}

/* navigation bar */

.navbar {
  padding-bottom: 4.5rem;
}

.nav-link {
  font-size: 1.5em;
  font-family: Montserrat;
  font-weight: lighter;

}


.navbar-brand {

  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 0;
}

/* title */

#title {
  background-color: #ff4c68;
  color: white;
}

/* download button */

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone {
  transform: rotate(25deg);
  width: 20%;
  position: absolute;
  right: 20%;
}


/* features */

#features {
  text-align: center;
  padding: 7% 15%;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: .5em;
}

.feature-row {
  margin-top: 2em;
}

.features-paragraph {
  color: #8f8f8f;
}

.feature-icon {
  font-size: 5em;
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;

}

/* Testimonials */


#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: white;
}

.dog {
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding: 3%;
  text-align: center;
}

.press-images {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 7% 15%;
  text-align: center;
}

.pricing-coliumn {
  padding: 3% 2%;
}

#cta {
  padding: 7% 15%;
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
  color: #8f8f8f;
}

@media (max-width: 1200px) {

  #title {
    text-align: center;
  }

  li {
    text-align: left;
  }

.iphone {
      position: static;
      width: 60%;
      margin: 1em;
      transform: rotate(0);
    }

    .title {
      font-size: 3em;
    }

    #cta {
      padding: 7% 15%;
      background-color: #ff4c68;
      color: #fff;
      text-align: center;
      font-weight: bold;
    }

    .extrabc {
      font-size: 3em;
    }
}
